<!DOCTYPE html>
<html>
<head>
    <title>Kufre | DevSecOps</title>
</head>
<style>
    #preloader{
    background: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0%;
    border: none;
    left: 0%;
    top: 0%;
}
</style>
<body>
    <div id="preloader">
        <iframe src="kufre-portfolio.netlify.app" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
            Your browser doesn't support iFrames.
        </iframe>
    </div>
    
</body>
</html>